@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
  font-size: 2em;
  color: #9d9d9d;
}

@media screen and (max-width: 770px) {

    ul {
        text-align: center;
    }

}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.2em
    }

  #logo {
        font-size: 1em;
        position: relative;
        float: left;
    }

}

img {
    min-width: 100%;
}



* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto mono', sans-serif;

}

#header {
    border-bottom: #bbb;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    margin-bottom: 4px;
}

.name-profession {
    text-align: right;
}

.jumbotron {
    margin-bottom: 0;
}

h2, h4 {
    text-align: center;
}

.glyphicon-camera {
    font-size: 8em;
}

p {
    font-size: 1em;
    text-align: center;
}

