/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/
@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    padding-top: 10px;
    font-size: 2em;
}

li {
    float: left;
    padding: 10px;
}

body {
    max-width: 100%;
    width: 50em;
}

header {
    float: left;
}

article {

}

h1 {
float: left;
}

img {
    max-width: 100%;
    height: auto;
}

.bottom-line {
    width: 50em;
    height: 3px;
    background-color: grey;
}


